body {
    font-family: Arial, sans-serif;
  }
  section {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px auto;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 12px 24px;
  }

  section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
  }
  #taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  li span {
    color: #555;
  }

  #taskList,
  #filterList {
    margin-top: 20px;
  }

  #taskInput {
    padding: 10px 12px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  #taskInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  #addTaskBtn:hover {
    background-color: #007bff;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  #addTaskBtn {
    padding: 10px 12px;
  }
  .completed {
    text-decoration: line-through;
  }
  .btn {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    border-radius: 4px;
  }
  .btn-remove {
    color: red;
  }
  .btn-edit {
    color: blue;
  }
  .filter-btn {
    padding: 5px 10px;
    margin: 5px;
  }
  .btn:hover {
    background-color: #007bff;
    color: #fff;
    transition: all.3s ease-in-out;
  }
  .hide {
    display: none !important;
  }
  #error-empty {
    font-size: 1rem;
    color: red;
    margin: 0 10px;
  }