.scrollTop {
  display: block;

  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 50px;
  height: 50px;
  z-index: 100;

  background-color: rgba(0,0,0,0.7);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.7);
  transition: all ease-in 0.5s;
}
.scrollTop.visible {
  display: block;
  opacity: 1;
}
.scrollTop.hidden {
  opacity: 0;
}
.scrollTop:hover {
  background-color: var(--bg-dark2-blue);
}
